div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
   
}

div.scrollmenu a {
  position: relative;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  overflow: auto;
 
}

div.scrollmenu a:hover {
  background-color: #777;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  width: 100%;
  text-align: center;
}


